body {
    margin: 0%;
    padding: 0%;
    background-color: #FBDEDB;
}

.inform {
    display: flex;
    justify-content: center;
}

.inform h1 {
    font-family: legwork demo;
    font-size: 80px;
    color: #1C1C42;
    white-space: nowrap;
    line-height: 30px;
}

.bg {
    margin-top: 100px;
}

.text {}

.inform h2,
.button h2 {
    font-family: oliver;
    font-size: 25px;
    color: #5C4F66;
}

.inform p {
    font-family: "Nunito Sans", sans-serif;
    color: #4A4A4A;
}

.button {
    display: flex;
    justify-content: center;
    gap: 100px;
}