body {
    margin: 0%;
    padding: 0%;
    background-color: #FFFCF7;
}

/*banner*/
.bnr {
    background-color: #E4F0D0;
    text-align: center;
    align-items: center;
    display: flex;
    height: 280px;
}

.text {
    font-family: legwork demo;
    font-size: 40px;
    white-space: nowrap;
    margin-left: 100px;
    margin-top: 200px;
}

/*information*/
.information {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.information h1 {
    font-family: legwork demo;
    font-size: 32px;
    color: #1C1C42;
}

.information h2 {
    font-family: oliver;
    font-size: 25px;
    color: #5C4F66;
    margin-bottom: -80px;
}

.container {
    margin: 100px;
}

.dg {
    margin-bottom: -80px;
}

.line1 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 30px;
}

.info {
    background-color: #FBDEDB;
    border-radius: 20px;
    padding: 0px 10px;
    margin: 0px 20px;
    width: 300px;
    height: 100px;
    text-align: center;
    z-index: 1000;
    position: relative;
}

.line1 h1 {
    font-family: legwork demo;
    font-size: 25px;
    color: #1C1C42;
}

.line1 p {
    font-family: "Nunito Sans", sans-serif;
    color: #4A4A4A;
}

.gap {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.breed,
.calender {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*mobile*/
@media screen and (max-width: 600px) {
    #nav {
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    .bnr {
        background-color: #E4F0D0;
        height: 90vh;
    }

    .text {
        margin-bottom: -350px;
        align-items: center;
    }

    .dogimg {
        display: none;
    }

    .line1 {
        flex-direction: column;
    }
}