body {
    background-color: #FFFCF7;
}

/*banner*/
header {
    z-index: 10000;
}

.banner {
    background-color: #E4F0D0;
}

.bnr {
    text-align: center;
    align-items: center;
    display: flex;
    min-height: 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.text {
    font-family: Legwork Demo;
    font-size: 40px;
    white-space: nowrap;
    margin-left: 10%;
    margin-top: 10%;
}

.desktop-img {
    margin-bottom: -3%;
    margin-right: -40%;
    filter: drop-shadow(-125px 10px 15px rgba(0, 0, 0, 0.3));
}

.mobile-img {
    display: none;
}

/*information*/
.information {
    padding: 5% 5%;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    background: url('../imgs/adpt/pawbgup.png');
    position: relative;
    z-index: 1000;
    background-size: contain;
}

.information h1 {
    font-family: Legwork Demo;
    font-size: 32px;
    color: #1C1C42;
}

.information h2 {
    font-family: Oliver Regular;
    font-size: 25px;
    color: #5C4F66;
}

.line1,
.line2 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.line1 {
    margin-bottom: 5%;
}

.line2 {
    margin-bottom: 5%;
}

.dginfo {
    background-color: #FBDEDB;
    border-radius: 20px;
    padding: 10px 8%;
    margin: 0px 5%;
    position: relative;
    z-index: 0;
    max-width: 300px;
    min-height: 120px;
}

.dog a {
    text-decoration: none;
}

.dg {
    margin-bottom: -20%;
}

.dg5{
    margin-bottom: -25%;
}

.line1 h1,
.line2 h1 {
    font-family: Legwork Demo;
    font-size: 25px;
    color: #1C1C42;
}

.line1 p,
.line2 p {
    font-family: "Nunito Sans", sans-serif;
    color: #4A4A4A;
}

.gap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20%;
}

.breed,
.calender {
    display: flex;
    align-items: center;
    gap: 10%;
}

.bgdown img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    margin-top: -80%;
}

/*tablet*/
@media screen and (max-width: 800px) {
    .text {
        margin-top: 8%;
        font-size: 30px;
    }
}

/*mobile*/
@media screen and (max-width: 600px) {

    .bnr {
        background-color: #E4F0D0;
        height: 92vh;
        flex-direction: column-reverse;
        justify-content: center;
        /* Center content vertically */
        text-align: center;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
        width: 90%;
        margin-top: 15%;
        margin-left: 20px;
        filter: drop-shadow(10px -100px 15px rgba(0, 0, 0, 0.3));
    }

    .text {
        text-align: center;
        margin-left: 0px;
    }

    .information h1 {
        font-size: 35px;
    }

    .information h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .line1,
    .line2 {
        flex-direction: column;
    }

    .dog {
        margin: 20px;
    }

}