body {
    margin: 0%;
    padding: 0%;
    background-color: #FBDEDB;
}

.information {
    padding: 5%;
    background: url('../imgs/detail/bg.png') no-repeat;
    background-size: contain;
}

.inform {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inform h1 {
    font-family: legwork demo;
    font-size: 70px;
    color: #1C1C42;
    white-space: nowrap;
    line-height: 30px;
}

.name {
    margin-top: -25% ;
    left:10%;
}

.text{
    margin-bottom: -20%;
}

.bg {
    margin-top: 0%;
    position: relative;
}

.inform h2,
.button h2 {
    font-family: oliver;
    font-size: 25px;
    color: #5C4F66;
}

.inform p {
    font-family: "Nunito Sans", sans-serif;
    color: #4A4A4A;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.buttondonate {
    background: url('../imgs/detail/left.png') no-repeat center center;
    background-size: contain;
    padding: 4%;
}

.buttonadoption {
    background: url('../imgs/detail/right.png') no-repeat center center;
    background-size: contain;
    padding: 4%;
}