body {
    background-color: #FFFCF7;
}

.DFP {
    color: #1C1C42;
    font-family: Legwork DEMO;
    margin-left: 31%;
    font-size: 80px;
}

.donation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 85px;
    margin-left: -5%;
}

.donationamount {
    background-color: #E4F0D0;
    padding: 30px;
    border-radius: 10px;
    margin-right: 40px;
    text-align: center;
}

.da {
    font-family: 'Oliver';
    color: #5C4F66;
    font-size: 40px;
    margin-top: 5px;
}

.da h1 {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
}

.donationamount button {
    border: 1px solid #C4C4C4;
    border-radius: 11px;
    background-color: white;
    color: #4A4A4A;
    padding: 15px;
    font-size: 23px;
    font-family: "Nunito Sans", sans-serif;
    margin: 8px 8px;
    width: 105px;
}

#custom button {
    width: 357px;
}

.cd {
    text-align: left;
}

.small-rm {
    font-size: 20px;
    /* Adjust the size to be smaller */
}



.footerlogo {
    font-family: legwork DEMO;
    font-size: 38px;
}

footer {
    background-color: #6896B1;
    color: white;
    padding: 20px;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

h3 {
    border-radius: 50px;
    font-size: 24px;
    margin-bottom: 10px;
}

.greenshape {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.form input {
    width: 115%;
    border-radius: 8px;
    border: 1px solid #6b6a6a;
    padding: 10px;
    margin-top: -40px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 50%;
}

.dog img {
    position: absolute;
    top: 28.4%;
    left: 71.8%;
}

.cat img {
    position: absolute;
    top: 99.9%;
    left: 3%;
}

.shape1 img {
    position: absolute;
    top: 30%;
    left: 0%;
}

.shape2 img {
    position: absolute;
    top: 45%;
    right: 0%;
}

.shape3 img {
    position: absolute;
    top: 102%;
    left: 50%;
}

.shape4 img {
    position: absolute;
    top: 104%;
    right: 0%;
}

.form {
    margin-top: -10px;
    font-size: 20px;
    line-height: 43%;
    font-family: 'Nunito Sans', sans-serif;
    color: #4A4A4A;
}