body {
    background-color: #FFFCF7;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.dfp {
    color: #1C1C42;
    font-family: Legwork DEMO;
    margin-left: 31%;
    font-size: 80px;
}

.donation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 85px;
    margin-left: -5%;
}

.donationamount {
    background-color: #E4F0D0;
    padding: 30px;
    border-radius: 10px;
    margin-right: 40px;
    text-align: center;
}

.da {
    font-family: 'Oliver';
    color: #5C4F66;
    font-size: 40px;
    margin-top: 5px;
}

.da h1 {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
}

.donationamount button {
    border: 1px solid #C4C4C4;
    border-radius: 11px;
    background-color: white;
    color: #4A4A4A;
    padding: 15px;
    font-size: 23px;
    font-family: "Nunito Sans", sans-serif;
    margin: 8px 8px;
    width: 105px;
}

#custom button {
    width: 357px;
}

.cd {
    text-align: left;
}

.small-rm {
    font-size: 20px;
    /* Adjust the size to be smaller */
}

.footer {
    position: relative;
}

.cat {
    position: absolute;
    bottom: 100%;
    left: 3%;
}

h3 {
    border-radius: 50px;
    font-size: 24px;
    margin-bottom: 10px;
}

.greenshape {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.form input {
    position: relative;
    width: 120%;
    border-radius: 8px;
    border: 1px solid #6b6a6a;
    padding: 10px;
    margin-top: -40px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 50%;
}

.form {
    margin-top: 2%;
    font-size: 20px;
    line-height: 43%;
    font-family: 'Nunito Sans', sans-serif;
    color: #4A4A4A;
}

.dog {
    position: absolute;
    top: 32.8%;
    left: 70.3%;
}

.doggie {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 3%;
}

@media screen and (max-width: 600px) {
    body {
        background-image: none;
    }

    #nav {
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    header {
        background-size: cover;
        align-items: center;
        justify-content: space-between;
    }

    .dfp {
        font-size: 48px;
        margin-left: 70px;
    }

    .donation-container {
        flex-direction: column;
        margin-top: -30px;
        justify-content: center;
    }

    .da {
        font-size: 38px;
    }

    .donationamount {
        width: 95%;
        margin-left: 15%;
        border-radius: 0%;
    }

    .form input {
        width: 100%;
        padding: 4%;
        border-radius: 15px;
        margin-top: -10px;
    }

    .dog {
        display: none;
    }

    .doggie {
        display: block;
        margin-left: 55%;
        width: 180px;
    }

    .cat {
        width: 200px;
        margin-left: 5%;
    }

    .greenshape {
        margin-bottom: 10%;
    }
}