body {
    background-color: #FFFCF7;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.dfp {
    color: #1C1C42;
    font-family: "Legwork DEMO";
    font-size: 55px;
    text-align: center;
    margin-top: 3%;
}

.donation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 85px;
    margin-left: -5%;
}

.donationamount {
    background-color: #E4F0D0;
    padding: 30px;
    border-radius: 10px;
    margin-right: 40px;
    text-align: center;
    z-index: 100;
    justify-content: stretch;
}

.da {
    font-family: 'Oliver';
    color: #5C4F66;
    font-size: 40px;
    margin-top: 5px;
}

.da h1 {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
}

.donationamount button {
    border: 1px solid #C4C4C4;
    border-radius: 11px;
    background-color: white;
    color: #4A4A4A;
    padding: 15px;
    font-size: 23px;
    font-family: "Nunito Sans", sans-serif;
    margin: 8px 8px;
    width: 105px;
}

.button1 {
    display: flex;
    justify-content: center;
}

#custom button {
    width: 96%;
}

.cd {
    text-align: left;
}

.small-rm {
    font-size: 20px;
    /* Adjust the size to be smaller */
}

.footer {
    position: relative;
}

.footercat {
    position: absolute;
    bottom: 100%;
    right: 6%;
}

h3 {
    border-radius: 50px;
    font-size: 24px;
    margin-bottom: 10px;
}

.greenshape {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.greenshape a {
    text-decoration: none;
    color: #4A4A4A;
}

.greenshape a:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    box-shadow: 0 2px 4px rgb(179, 179, 179);
    background: #FFFCF7;
    position: fixed;
    top: 35%;
    right: 37%;
    z-index: 100;
    padding: 3%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10%;
}

.modal a {
    text-decoration: none;
    color: #5C4F66;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 5%;
}

.modal a:hover {
    text-decoration: #4A4A4A;
    text-decoration: underline
}

.form input {
    position: relative;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #6b6a6a;
    padding: 10px;
    margin-top: -40px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 50%;
}

.formdog {
    position: absolute;
    top: 18.3%;
    left: 65.5%;
}

.form {
    margin-top: 2%;
    font-size: 20px;
    line-height: 43%;
    font-family: 'Nunito Sans', sans-serif;
    color: #4A4A4A;
}

.footerdog {
    display: none;
}

.shape2 {
    position: absolute;
    right: 0%;
    top: 45%;
}

.shape3 {
    position: absolute;
    right: 0%;
    bottom: 100%;
}

.mobileshape1 {
    display: none;
}

.mobileshape2 {
    display: none;
}

.mobileshape3 {
    display: none;
}

@media screen and (max-width:1000px) {
    .formdog {}
}

@media screen and (max-width: 600px) {
    #nav {
        flex-direction: column;
        justify-content: space-between;
        display: none;
        overflow-x: hidden;
    }

    header {
        background-size: cover;
        align-items: center;
        justify-content: space-between;
    }

    .dfp {
        font-size: 40px;
        margin-top: -51%;
    }

    .donation-container {
        flex-direction: column;
        margin-top: -30px;
        justify-content: center;
    }

    .da {
        font-size: 33px;
    }

    .donationamount {
        width: 95%;
        margin-left: 15%;
        border-radius: 0%;
    }

    #custom button {
        width: 100%;
    }

    .form input {
        width: 100%;
        padding: 4%;
        border-radius: 15px;
        margin-top: -10px;
    }

    .formdog {
        display: none;
    }

    .footercat {
        width: 43%;
    }

    .footerdog {
        display: block;
        position: absolute;
        bottom: 100%;
        left: 6%;
        width: 43%;
    }

    .greenshape {
        margin-bottom: 10%;
    }

    .shape2 {
        display: none;
    }

    .shape3 {
        display: none;
    }

    .mobileshape1 {
        display: block;
        position: relative;
        bottom: -121%;
    }

    .mobileshape2 {
        display: block;
        position: relative;
        left: 89%;
        bottom: -100%;
    }

    .mobileshape3 {
        display: block;
        position: relative;
        left: 43%;
        bottom: -108%;
    }
}