body {
    margin: 0%;
    padding: 0%;
    background-color: #FBDEDB;
}

/*img*/
.information {
    padding: 2% 5%;
    max-width: 1440px;
    margin: 0 auto;
}

.timeline {
    background: url("../imgs/imagesdogdetail/line.png") no-repeat;
    background-size: 90%;
    background-position: center center;
    padding: 3%;
}

.row1,
.row2 {
    display: flex;
}

.row2 {
    margin-top: -50px;
}

.detaildog1,
.detaildog2,
.detaildog3,
.detaildog4,
.detaildog5,
.detaildog6 {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* Stack content vertically */
    align-items: center;
    /* Horizontally center items */
}

.detaildog1 {
    position: relative;
    top: -100px;
    left: -50px;
}

.detaildog2 {
    position: relative;
    left: -20px;
    top: -20px;
}

.detaildog3 {
    position: relative;
    left: -20px;
}

.detaildog4 {
    position: relative;
    top: -60px;
    right: -80px;
}

.detaildog5 {
    position: relative;
    top: 30px;
    right: -40px;
}

.detaildog6 {
    position: relative;
    right: -80px;
    top: 100px;
}

.dog1 {
    width: 70%;
}

.dog2 {
    width: 70%;
}

.dog3 {
    width: 60%;
}

.dog4 {
    width: 75%;
}

.dog5 {
    width: 65%;
}

.dog6 {
    width: 70%;
}

.text1,
.text2,
.text5 {
    margin-top: -2%;
}

.text6 {
    margin-top: -4%;
}

.text3,
.text4 {
    margin-top: -8%;
}

/* Menu Container */
.word {
    font-family: oliver;
    font-size: 25px;
}

/* Menu Item */
.menutext {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Line Before Text */
.menutext .line2 {
    width: 50px;
    height: 2.5px;
    background-color: #5C4F66;
    margin-right: 1%;
    transition: background-color 0.3s ease;
}

.menutext .line1 {
    width: 30px;
    height: 2.5px;
    background-color: rgb(92, 79, 102, 0.5);
    margin-right: 2.5%;
    transition: background-color 0.3s ease;
}

/* Text Style */
.menutext .quote2 {
    font-weight: bold;
    letter-spacing: 2px;
    color: #5C4F66;
    text-decoration: none;
}

.menutext .quote1 {
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(92, 79, 102, 0.5);
    text-decoration: none;
}

/* Hover Effects */
.menutext:hover .quote1,
.quote2 {
    color: #1c1c42;
}

.menutext:hover .line {
    background-color: #1c1c42;
}

/*button*/
.button {
    display: flex;
    justify-content: center;
    gap: 10%;
    font-family: Oliver Regular;
}

.button a {
    text-decoration: none;
    color: #5B4F64;
    font-size: 22px;
}

.buttondonate {
    background: url('../imgs/detail/left.png') no-repeat center center;
    background-size: contain;
    padding: 3%;
}

.buttonadoption {
    background: url('../imgs/detail/right.png') no-repeat center center;
    background-size: contain;
    padding: 3%;
}

/*tablet*/
@media screen and (max-width: 800px) {
    .detaildog1 {
        position: relative;
        top: -50px;
        left: -50px;
    }

    .detaildog4 {
        position: relative;
        top: -20px;
        right: -50px;
    }

    .detaildog6 {
        position: relative;
        right: -40px;
        top: 50px;
    }

    .word {
        font-family: oliver;
        font-size: 20px;
    }

    .menutext .line2 {
        width: 50px;
        height: 2.4px;
    }

    .menutext .line1 {
        width: 30px;
        height: 2.4px;
    }

    .button a{
        font-size:18px;
    }

    .buttonadoption,.buttondonate{
        padding:4%
    }
}

/*mobile*/
@media screen and (max-width: 600px) {
    #nav {
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    header {
        background-size: cover;
        align-items: center;
        justify-content: space-between;
    }

    body,
    html {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        /* 禁止横向滚动 */
    }

    .arrow {
        width: 8%;
    }

    .timeline {
        background: none;
        background: url("../imgs/imagesdogdetail/mobileline.png") no-repeat;
        background-size: 58%;
        background-position: center 80px;
        margin-bottom: 60%;
    }

    .row1,
    .row2 {
        flex-direction: column;
    }

    .detaildog1 {
        position: relative;
        top: -60px;
        left: -70px;
    }

    .detaildog2 {
        position: relative;
        left: 50px;
        top: 0px;
    }

    .detaildog3 {
        position: relative;
        left: -80px;
        top: 50px;
    }

    .detaildog4 {
        position: relative;
        top: 100px;
        right: -100px;
    }

    .detaildog5 {
        position: relative;
        top: 150px;
        left: -60px;
    }

    .detaildog6 {
        position: relative;
        top: 190px;
    }

    .dog1,
    .dog2,
    .dog4,
    .dog6 {
        width: 70%;
    }

    .dog3 {
        width: 80%;
    }

    .dog5 {
        width: 60%;
    }

    .menutext {
        display: flex;
        justify-content: center;
    }

    .button {
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .buttondonate {
        padding: 10%
    }

    .buttonadoption {
        background: url('../imgs/detail/adoptionbuttonmobile.png') no-repeat center center;
        background-size: contain;
        padding: 10%;
    }

}