.heading {
    font-family: Legwork Demo;
    font-size: 35pt;
    letter-spacing: 3px;
    color: #1C1C42;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.contact-us.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px 80px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 800px;

}

.socials.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align content to the left */
    justify-content: flex-start;
    /* Ensure consistent top alignment */
    gap: 10px;
}

.socials.icon-text {
    display: flex;
    align-items: center;
    gap: 2px;
}

.address.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align content to the left */
    justify-content: flex-start;
    /* Ensure consistent top alignment */
    gap: 10px;

}

.phoneno.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align content to the left */
    justify-content: flex-start;
    /* Ensure consistent top alignment */
    gap: 10px;

}

.email.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* Ensure consistent top alignment */
    gap: 10px;
}

.information.icon-title {
    display: flex;
    align-items: center;
}

.information.icon {
    margin-right: 10px;
}

.information.icon img {
    width: 40x;
    height: 40px;
    object-fit: contain;
}

.information.title {
    color: #5C4F66;
    font-family: Oliver Regular;
    font-size: 28px;
    margin-bottom: 5px;
}

.information.details {
    color: #4A4A4A;
    font-family: Nunito Sans, sans-serif;
    font-size: 13pt;
    line-height: 1.5;
}

.green-dog.container {
    background-color: #E4F0D0;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 80%;
    display: flex;
    margin-top: 80px;
    margin: 80px auto;
}

.green-dog.image {
    align-items: center;

}

.green-dog.image img {
    height: 180px;
    align-items: center;
    margin-bottom: -52px;
}

.subheading {
    font-family: Oliver Regular;
    font-size: 24pt;
    color: #5C4F66;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.description {
    font-family: Nunito Sans, sans-serif;
    font-size: 13pt;
    color: #4A4A4A;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pink-dog.container {
    background-color: #FBDEDB;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 80%;
    display: flex;
    margin-top: 80px;
    margin: 80px auto;
}

.pink-dog.image {
    align-items: center;

}

.pink-dog.image img {
    height: 260px;
    align-items: center;
    margin-bottom: -45px;
}

table {
    margin-top: 50px;
    margin-bottom: 80px;
    width: 50%;
    border-collapse: collapse;
    background-color: #FBDEDB;
    /* Light pink background */
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-family: Oliver Regular;
    font-size: 18pt;
    letter-spacing: 3px;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #5C4F66;
}

td {
    font-family: Nunito Sans, sans-serif;
    font-size: 13pt;
    text-align: center;
    padding: 12px;
    color: #4A4A4A;
    align-items: center;
    justify-content: center;
}

td:nth-child(2) {
    background-color: #E4F0D0;
    /* Light green background */
}


th {
    background-color: #FFFCF7;
    /* Light green background for headers */

}

@media screen and (max-width: 600px) {
    body {
        background-size: cover;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .heading {
        flex-direction: column;
        font-size: 26pt;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }



    .information.container {
        align-items: center;
    }

    .information.details {
        text-align: center;
    }

    .subheading {
        font-size: 14pt;

    }

    .description {
        font-size: 13pt;
        text-align: center;
    }

    .contact-us.container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding: 0 20px;
    }

    .address.container {
        align-items: center;
        margin-left: 0;
        flex-direction: column;
        gap: 8px;
    }

    .phoneno.container {
        align-items: center;
        margin-left: 0;
        flex-direction: column;
        gap: 8px;
    }

    .socials.container {
        align-items: center;
        margin-left: 0;
        flex-direction: column;
        gap: 8px;
    }

    .email.container {
        align-items: center;
        margin-left: 0;
        flex-direction: column;
        gap: 8px;
    }

    .green-dog.container {
        padding: 30px;
    }

    .green-dog.image img {
        height: 120px;
        margin-bottom: -35px;
    }

    .pink-dog.container {
        padding: 30px;
    }

    .pink-dog.image img {
        height: 140px;
        margin-bottom: -35px;
    }

    table {
        margin-top: 30px;
        width: 90%;
    }

    th {
        font-size: 13pt;

    }

    td {
        font-size: 13pt;

    }
}