body {
    background-color: #fffcf7;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

/*banner*/
.banner {
    background: url('../imgs/imageshp/hppaw.png');
    background-color: #FEF7E7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hpimage {
    background-size: contain;
}

.findpals {
    font-family: Legwork Demo;
    font-size: 128px;
    display: flex;
    color: #1C1C42;
    justify-content: space-around;
    min-height: 480px;
    align-items: center;
}

.mobilefindpals {
    display: none;
}

.quote {
    font-family: "Nunito Sans", sans-serif;
    line-height: 18%;
    font-size: 18px;
    text-align: center;
    color: #4A4A4A;
}

/*adoption*/
.adoption {
    text-align: center;
    padding-bottom: 8%;
    margin-top: 5%;
}

.adoption h1 {
    font-family: Legwork Demo;
    font-size: 38px;
    color: #1C1C42;
}

.adoption h2 {
    font-family: Oliver Regular;
    font-size: 28px;
    color: #5C4F66;
}

.categories {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5%;
    margin-left: 10%;
}

.align {
    display: flex;
    flex-direction: column;
    /* Stack the image and text vertically */
    transition: transform 0.3s ease-in-out;
}

.adoption p {
    font-family: Legwork Demo;
    font-size: 28px;
    color: #1C1C42;
    margin-left: -20%;
    margin-top: -55%;
    /* Adjust the spacing so text appears centered over the image */
    align-items: center;
}

.adoption a {
    text-decoration: none;
}

/*information*/
.infor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    gap: 20%;
    padding: 8%;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    line-height: 10%;
}

.infor h1 {
    font-family: Legwork Demo;
    font-size: 38px;
    color: #1C1C42;
}

.infor h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    color: #4A4A4A;
}

/*activities*/
.top-shape {
    text-align: center;
    margin-top: -50px;
    margin-bottom: -50px;
    /* Connects shape to the content without overlap */
}

.actbutton {
    background: url('../imgs/imageshp/button.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 10px;
}

.actbutton:hover {
    background: url('../imgs/imageshp/acthover.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.act {
    text-align: center;
}

.actcontent {
    background-color: #FBDEDB;
}

.activities {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    background-color: rgb(255, 252, 247, 0.5);
    padding: 20px 80px;
    align-items: center;
    border-radius: 20px;
    margin: 5%;
}

.actinfo {
    text-align: left;
}

.act h1 {
    font-family: Legwork Demo;
    font-size: 38px;
    color: #1C1C42;
}

.act h2 {
    font-family: Oliver Regular;
    font-size: 28px;
    color: #5C4F66;
}

.act p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color: #4A4A4A;
}

.actshape {
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: top center, bottom center;
    display: block;
    /* Ensures no inline gaps */
}

.joinbutton {
    text-decoration: none;
    font-size: 20px;
    color: #5C4F66;
    margin-left: 5%;
}

.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fffcf7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    position: relative;
}

.form a.close-modal {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../imgs/imageshp/cancel.png");
    cursor: pointer;
}


/* Bottom Shape Styling */
.bottom-shape {
    text-align: center;
    margin-top: -5%;
    /* Connects the bottom shape to the content */
}

/*process*/
.process {
    text-align: center;
}

.process h1 {
    font-family: Legwork Demo;
    font-size: 38px;
    color: #1C1C42;
}

.process h2 {
    font-family: Oliver Regular;
    font-size: 28px;
    color: #5C4F66;
}

.prcs {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15%;
    margin-top: -5%;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color: #4A4A4A;
    align-items: center;
}

/*aboutus*/
.aboutus {
    background-image: url('imgs/imageshp/abtshape');
    background-size: contain;
    background-position: center;
    padding-top: 5%;
}

.abtbg {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-bottom: -0.2%;
}

.about {
    background-color: rgb(254, 247, 231, 0.5)
}

.abtdog {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: -30%;
}

.abtcat {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 80px;
    margin-left: 12%;
}

.column {
    display: flex;
    align-items: center;
    text-align: left;
}

.abtimage {
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: -110px;
}

.abtdog h1 {
    font-family: Legwork Demo;
    font-size: 38px;
    color: #1C1C42;
}

.buttonwhy {
    background: url('../imgs/imageshp/aboutbutton1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 10px;
    margin-left: -80%;
}

.buttonwhy h2 {
    font-family: Oliver Regular;
    font-size: 28px;
    color: #5C4F66;
}

.buttonmission h2 {
    font-family: Oliver Regular;
    font-size: 28px;
    color: #5C4F66;
}

.buttonmission {
    background: url('../imgs/imageshp/aboutbutton2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 28px 61px;
    margin-left: -100px;
    margin-right: 60%;
}

.abtdog p,
.abtcat p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color: #4A4A4A;
}

/*book*/
.book {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 2%;
}

.book h1 {
    font-family: Legwork Demo;
    font-size: 38px;
    color: #1C1C42;
}

.bookinfo h2 {
    font-family: Oliver Regular;
    color: #5C4F66;
}

.booknow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookinfo {
    background-color: rgb(161, 181, 216, 0.2);
    padding: 30px;
    border-radius: 20px;
    text-align: left;
    width: 20%;
}

.appoint {
    font-size: 28px;
}

.date {
    font-size: 25px;
}

.buttonbook {
    background: url('../imgs/imageshp/button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;
    text-align: center;
}

.buttonbook:hover {
    background: url('../imgs/imageshp/acthover.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.type,
.name {
    width: 100%;
    padding: 3px;
    border-radius: 10px;
}

.booking {
    width: 50%;
}

.desktop-img {
    display: block;
    width: 100%;
}

.mobile-img {
    display: none;
}

.submit {
    text-decoration: none;
    color: #5C4F66;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fffcf7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal a.closemodal {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../imgs/imageshp/cancel.png");
    cursor: pointer;
}

/*tablet*/
@media screen and (max-width: 768px) {

    .adoption h1,
    .act h1,
    .process h1,
    .abtdog h1,
    .book h1 {
        font-size: 32px;
    }

    .adoption h2,
    .act h2,
    .process h2,
    .buttonwhy h2,
    .buttonmission h2,
    .bookinfo h2 {
        font-size: 28px;
    }

    .findpals {
        font-family: Legwork Demo;
        font-size: 80px;
        display: flex;
        color: #1C1C42;
        justify-content: space-around;
        min-height: 590px;
        align-items: center;
    }

    .hpimage {
        width: 50%;
    }

    .bookinfo {
        width: 35%;
    }

    .joinbutton {
        margin-left: 8%;
    }

    .abtdog {
        flex-direction: column;
        align-items: center;
        margin-top: 7%;
        margin-left: 10px;
    }

    .aboutcat {
        margin-bottom: -5%;
        align-items: center;
    }

    .abtcat {
        flex-direction: column-reverse;
        width: 80%;
    }

    .abtbg {
        margin-bottom: -28px;
    }

    .activities {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book {
        margin-top: 5%;
    }

}

/*mobile*/
@media screen and (max-width: 600px) {

    .banner {
        background-image: url('../imgs/imageshp/mobilepaw.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top left;
    }

    .findpals {
        display: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        min-height: 500px;
    }

    .find,
    .pals {
        display: none;
    }

    .mobilefindpals {
        display: block;
    }

    .hpimage {
        width: 65%;
    }

    .quote {
        font-size: 16px;
    }

    .p2 {
        line-height: 1;
    }

    .categories {
        gap: 150px;
        flex-direction: column;
        align-items: center;
        margin-left: 18%;
    }

    .ctgr {
        max-width: 300px;
        /* Resize images smaller for mobile */
    }

    .adoption p {
        display: block;
    }

    .adoption h1,
    .act h1,
    .process h1,
    .abtdog h1,
    .book h1 {
        font-size: 30px;
    }

    .adoption h2,
    .act h2,
    .process h2,
    .buttonwhy h2,
    .buttonmission h2,
    .bookinfo h2 {
        font-size: 25px;
    }

    .infor {
        flex-direction: column;
        margin: 20%;
        margin-bottom: 5%;
    }

    .gap {
        margin-bottom: 20%;
    }

    .top-shape {
        margin-bottom: -25px;
    }

    .activities {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .act p,
    .abtdog p,
    .abtcat p,
    .prcs {
        font-size: 16px;
    }

    .prcs {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: -30px;
        line-height: 0px;
    }

    .prcs img {
        width: 75%;
    }

    .line {
        display: none;
    }

    .abtbg {
        margin-bottom: -4%;
    }

    .abtdog {
        flex-direction: column;
        align-items: center;
        margin-top: 7%;
        margin-left: 10px;
    }

    .aboutcat {
        margin-bottom: -10%;
        align-items: center;
    }

    .abtcat {
        flex-direction: column-reverse;
        width: 80%;
    }

    .abtimage {
        display: block;
    }

    .about {
        padding-bottom: 75px;
        /* Add extra space if needed */
    }

    .buttonmission {
        flex-direction: column;
        margin: 20px auto;
    }

    .joinbutton {
        margin-left: 15%;
    }

    .book {
        padding-top: 5%;
    }

    .booknow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bookinfo {
        width: 50%;
    }

    .desktop-img {
        display: none;
    }

    .booking {
        width: 100%;
    }

    .mobile-img {
        display: block;
        width: 100%;
        margin-top: -10%;
    }
}