body {
    margin: 0%;
    padding: 0%;
    background-color: #FFFCF7;
}

/*banner*/
.banner {

    background-color: #FEF7E7;
    justify-content: center;
    align-items: center;
}

.img {
    text-align: center;
    align-items: center;
    display: flex;
    z-index: 100;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.findpals {
    font-family: legwork demo;
    font-size: 100px;
    display: flex;
}

.quote {
    font-family: "Nunito Sans", sans-serif;
    line-height: 10%;
    font-size: 18px;
    text-align: center;
}

/*adoption*/
.adoption {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.adoption h1 {
    font-family: legwork demo;
    font-size: 38px;
}

.adoption h2 {
    font-family: oliver;
    font-size: 28px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.align {
    text-align: center;
}

.adoption p {
    font-family: legwork demo;
    font-size: 28px;
}

/*information*/
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    gap: 350px;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    line-height: 10%;
}

.info h1 {
    font-family: legwork demo;
    font-size: 38px;
}

.info h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
}

/*activities*/
.act {
    text-align: center;
    background-color: #FBDEDB;
    background-image: cover;
}

.activities {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    gap: 30px;
    background-color: rgb(255, 252, 247, 0.5);
}

.actinfo {
    text-align: left;
}

.act h1 {
    font-family: legwork demo;
    font-size: 38px;
}

.act h2 {
    font-family: oliver;
    font-size: 28px;
}

.act p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

.actshape {
    background-size: cover;
    width: 100%;
    height: auto;
}

/*process*/
.process {
    text-align: center;
}

.process h1 {
    font-family: legwork demo;
    font-size: 38px;
}

.process h2 {
    font-family: oliver;
    font-size: 28px;
}

.prcs {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 200px;
    line-height: 20%;
}

.prcs {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

/*aboutus*/
.aboutus {
    background-image: url('imgs/imageshp/abtshape');
    background-size: contain;
    background-position: center;
}

.abtdog {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.abtcat {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column {
    display: flex;
}

.abtimage {
    background-size: cover;
    width: 100%;
    height: auto;
}

.abtdog h1 {
    font-family: legwork demo;
    font-size: 38px;
}

.aboutbutton h2 {
    font-family: oliver;
    font-size: 28px;
}

.about button h2 {
    font-family: oliver;
    font-size: 28px;
}

.abtdog p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

.abtcat p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

/*book*/
.book {
    text-align: center;
}

.book h1 {
    font-family: legwork demo;
    font-size: 38px;
}

.bookinfo h2 {
    font-family: oliver;
    font-size: 28px;
}

.booknow {
    text-align: center;
    display: flex;
    justify-content: center;
}

.bookinfo {
    background-color: rgb(161, 181, 216, 0.2);
}