body {
    background-color: #FEF7E7;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.bg1 {
    background-image: url('../imgs/images-learningcentre/topbg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 5%;
}

.learningcentre {
    color: #1C1C42;
    font-family: "Legwork DEMO";
    font-size: 48px;
    text-align: center;
    margin-top: 90px;
}

.nutri {
    color: #5C4F66;
    font-size: 30px;
    font-family: "Oliver Regular";
    text-align: center;
    margin-top: 50px;
}

.nutrinhealth {
    display: flex;
    align-items: center;
    margin-top: -30px;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: 10%;
}

.bg2 {
    background-color: #E4F0D0;
}

.dog {
    flex: 1;
    margin-top: -5%
}

.cat {
    flex: 1;
}

.others {
    flex: 1;
}

.text {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: -20%;
    margin-left: -45%;
}

.text a {
    text-decoration: none;
    font-family: "Oliver Regular";
    color: #4A4A4A;
    font-size: 25px;
}

.text:hover {
    color: #757575;
}

.text p {
    font-family: "Oliver Regular";
    font-size: 25px;
    color: #4A4A4A;
}

.others p {
    margin-top: 13px;
    margin-left: 30px;
}

.cat p {
    margin-left: 15px;
}

.behavior {
    color: #5C4F66;
    font-size: 30px;
    font-family: "Oliver Regular";
    text-align: center;
    margin-top: 10px;
}

.behaviorntips {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
    margin-left: 15%;
}

.dog2 {
    flex: 1;
}

.cat {
    flex: 1;
}

.text2 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: -115px;
    margin-left: -36%;
}

.text2 p {
    font-family: "Oliver Regular";
    font-size: 25px;
    color: #4A4A4A;
}

.text4 {
    margin-top: -97px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: -40%;
}

.text4 p {
    font-family: "Oliver Regular";
    font-size: 25px;
    color: #4A4A4A;
}

.groom {
    color: #5C4F66;
    font-size: 30px;
    font-family: "Oliver Regular";
    margin-top: -35px;
    text-align: center;
}

.grooming {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
    padding-bottom: 5%;
    margin-left: 19%;
}

.bg3 {
    background-color: #A1B5D8;
}

.dog3 {
    flex: 1;
}

.cat {
    flex: 1;
}

.text3 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: -30%;
    margin-top: -90px;
    margin-left: -35%;
}

.text3 p {
    font-family: "Oliver Regular";
    font-size: 25px;
    color: #4A4A4A;
}

.text5 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: -18%;
    margin-left: -50%;
}

.text5 p {
    font-family: "Oliver Regular";
    font-size: 25px;
    color: #4A4A4A;
}

@media screen and (max-width: 1000px) {
    .text {
        margin-top: -16%;
    }

    .text2 {
        margin-top: -22%;
    }

    .text4 {
        margin-top: -20%;
    }

    .text3 {
        margin-top: -22%;
    }

    .text5 {
        margin-top: -24%;
    }
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
        overflow-x: hidden;
    }

    #nav {
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    header {
        background-size: cover;
        align-items: center;
        justify-content: space-between;
    }

    .nutrinhealth {
        flex-direction: column;
        gap: 95px;
        margin-left: 0%;
    }

    .learningcentre {
        font-size: 43px;
        margin-top: 70px;
    }

    .nutri {
        font-size: 28px;
    }

    .mobiledog {
        width: 250px;
    }

    .text {
        margin-top: -90px;
        font-family: "Oliver Regular";
        font-size: 20px;
        margin-left: 0%;
    }

    .behavior {
        font-size: 28px;
        margin-top: 50px;
    }

    .behaviorntips {
        flex-direction: column;
        gap: 75px;
        margin-left: 1%;
        padding-bottom: 10%;
    }

    .text2 {
        margin-left: 5%;
    }

    .text4 {
        margin-left: 5%;
    }

    .mobiledog2 {
        width: 320px;
        margin-left: 18%;
        margin-top: 20px;
    }

    .groom {
        font-size: 28px;
    }

    .grooming {
        flex-direction: column;
        gap: 95px;
        margin-left: -1%;
    }

    .mobiledog3 {
        width: 300px;
        margin-left: 21%;
    }

    .text3 {
        margin-left: 35px;
        margin-top: -85px;
    }

    .text5 {
        margin-top: -90px;
        margin-left: -20px;
    }
}