@media (max-width: 600px) {

    body {
        flex-direction: column;
        background-size: contain;
        background-image: none;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #nav {
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    header {
        background-size: cover;
        align-items: center;
        justify-content: space-between;
    }

    .categories {
        display: none;
    }

    .top-bar.green {
        background-position: right 8px;
        background-size: 280px 150px;
    }

    .top-bar.pink {
        background-position: right -10px;
        background-size: 280px 180px;
    }

    .top-bar.blue {
        background-position: right 30px;
        background-size: 260px 140px;
    }

    .supplies-categories {
        display: none;
    }

    .firstrowcolumn {
        flex-direction: column;
    }

    .product-card {
        flex-direction: column;
        gap: 12px;
    }
}

body {
    background-color: #FFFCF7;
    background-size: contain;
    overflow-x: hidden;
}

.container {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    justify-content: center;
}

.firstrowcolumn {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    /* Aligns items in a row */
    border-radius: 30px;
    padding: 40px;
    justify-content: flex-start;
    /* Align items to the start */
    align-items: center;
    /* Align vertically */
    gap: 140px;
    /* Space between product cards */
    margin-top: -25px;
}


.product-card {
    width: 240px;
    height: auto;
    margin-top: 30px;
    margin-bottom: -70px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    /* Prevent cards from shrinking */
}

.product-card .background {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 200px;
    background-color: #FEF7E7;
    border-radius: 10px;
    /* Optional: match the card's border radius */
    padding: 10px;
    /* Optional: Add space between the image and the background */
    align-items: center;
}

.product-card img {
    width: 200px;
    /* Adjust the width to 100% of the container */
    height: 190px;
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: contain;
    /* Ensures image maintains aspect ratio and fits inside */
    display: block;
}

.product-card .brand {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 17px;
    font-family: "Nunito Sans", sans-serif;
}

.product-card .name {
    font-size: 17px;
    color: #4A4A4A;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    margin-bottom: 7px;
}

.product-card.rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 16px;
}

.product-card .stars {
    display: inline-flex;
    /* Ensures stars are in a row */
    color: gold;
    font-size: 30px;
    margin-top: 15pt;
    margin-right: 2px;
    line-height: 1;
    gap: 5px;
}

.product-card .reviewnumbers {
    margin-left: 5px;
    align-items: center;
    font-size: 16px;
    color: #4A4A4A;
    font-family: "Nunito Sans", sans-serif;
    line-height: 1;
    justify-content: center;
}

.product-card.prices {
    display: flex;
    align-items: center;
    gap: 10pt;
    margin-top: 5px;
    font-size: 16px;
    display: inline-block;
}

.product-card .price {
    font-size: 16px;
    color: #4A4A4A;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 10pt;
    display: block;
}

.product-card .old-price {
    font-size: 14px;
    color: #4A4A4A;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: line-through;
    margin-left: 12pt;
    display: inline-block;
}