.top-bar {
    background-color: #E4F0D0;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    margin-top: 20px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

}

.left-section {
    width: auto;
    margin-left: 20px;
}

.title {
    font-size: 28pt;
    font-family: Legwork Demo;
    color: #1C1C42;
}

.categories {
    text-decoration: none;
    display: flex;
    margin-top: 16pt;
    color: #5C4F66;
    font-size: 18pt;
    font-family: Oliver Regular;
    gap: 90px;
}

.categories a:hover {
    text-decoration: underline;
}

.supplies-categories {
    display: flex;
    flex-direction: column;
    color: #5C4F66;
    font-size: 18pt;
    font-family: Oliver Regular;
    gap: 100px;
}

.supplies-categories a:hover {
    text-decoration: underline;
}

.supplies-categories .row {
    display: flex;
    margin-top: 16pt;
    gap: 60px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.filterbuttons-container {
    display: flex;
    /* Ensures child elements align horizontally */
    justify-content: flex-start;
    /* Align items to the left (adjust as needed) */
    align-items: center;
    /* Vertically align items */
    gap: 20px;
    /* Space between buttons */
}

.filterbutton {
    margin-top: 20px;
    border: 1px solid black;
    align-items: center;
    display: inline-flex;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 10px;
    color: #000000;
    width: 125px;

}

.filterbutton-photo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.filterbutton-text {
    font-size: 17px;
    color: #000000
}

.right-section {
    width: auto;
    margin-left: 1080px;
    margin-top: 60px;
    display: flex;
    position: absolute;
}

.categories .row {
    display: flex;
    gap: 15px;
}