#nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav div {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    align-items: center;

}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 18px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}