<style>body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFCF7;
}

/*banner*/
.container {
    background-color: #FEF7E7;
    background-size: cover;
    background-position: center top;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bannerimage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerimage h1 {
    font-family: Legwork Demo;
    font-size: 128px;
    margin-right: 50px;
    margin-left: 50px;
}

.paw1 {
    left: 0%;
    top: -8%;
    position: absolute;
}

.paw2 {
    right: 0%;
    bottom: 6%;
    position: absolute;
}

.quote {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 10%;
}

/*adoption*/
.adoption {
    text-align: center;
}

.categories {
    display: flex;
    gap: 100px;
    justify-content: center;
    gap: 200px;
}

.align {
    text-align: center;
}

.categories p {
    position: absolute;
    z-index: 1;
}

.adoption h1 {
    font-family: Legwork Demo;
    font-size: 40px;
}

.adoption h2 {
    font-family: oliver;
}

.ctgr {
    position: relative;
}

.align p {
    font-family: Legwork Demo;
    font-size: 25px;
}

/*info*/
.info {
    display: flex;
    gap: 300px;
    justify-content: center;
}

.gap {
    line-height: 20%;
}

.group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.info h1 {
    font-family: Legwork Demo;
}

.info p {
    font-family: "Nunito Sans", sans-serif;
}

/*activities*/
.activities {
    background: url('imageshp/irregular.png') no-repeat center center;
    background-size: cover;
    background-position: center top;
    text-align: center;
}

.activities h1 {
    font-family: legwork demo;
}

.activities h2 {
    font-family: oliver;
}

.act {
    background-color: #FFFCF7;
    opacity: 60%;
}

.join {
    position: absolute;
    left: 48%;
    top: -5%;
}

.click {
    position: relative;
}

.act h1 {
    font-family: legwork demo;
}

.act h2 {
    font-family: oliver;
}

.act p {
    font-family: "Nunito Sans", sans-serif;
}

.img1 {
    background-image: url('imageshp/act1.png');
    background-size: cover;
    flex: 1;
    min-height: 400px;
}

.img2 {
    background-image: url('imageshp/act2.png');
    background-size: cover;
    flex: 1;
    min-height: 400px;
}

/*proces*/
.process {
    text-align: center;
}

.process h1 {
    font-family: Legwork Demo;
}

.process h2 {
    font-family: oliver;
}

.prcsflex {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.prcs {
    text-align: center;
}

/*about us*/
.about h1 {
    font-family: legwork demo;
}

.column {
    display: flex;
}

.button {
    position: relative;
}

.about button p {
    position: absolute;
    left: 50%;
}

/*book*/
.book {
    margin-left: 500px;
    background-color: #A1B5D8;
    opacity: 20%;
}

.book h1 {
    font-family: legwork demo;
}

.book h2 {
    font-family: oliver;
}

</style>