#nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav div {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    align-items: center;

}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    color: black;
    font-family: Avenir;
    font-size: 18px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.container {
    position: sticky;
}

.top-bar {
    background-color: #E4F0D0;
    border-radius: 15px;
    padding: 80px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
}

.left-section {
    width: 50%;
    padding-right: 20px
}

.food {
    font-size: 30pt;
    font-family: Legwork Demo;
}

.categories {
    margin-top: 20pt;
    font-size: 23pt;
    font-family: Oliver Regular;
    margin-right: 50pt;

}